@media only screen and (max-width:600px) {
	.epos p {
		font-size: 5px;
	}
	.mu p {
		font-size: 5px;
	}
	.rokok p {
		font-size: 5px;
	}
	.extra p {
		font-size: 5px;
	}
	.sirup {
		font-size: 5px;
	}
	.babi p {
		font-size: 5px;
	}
}

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

br {
	margin-top: 25px;
}

hr {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

a {
	color: black;
	font-size: 20px;
}

ul {
	list-style: none;
}

p {
	letter-spacing: 0.9px;
	word-spacing: 2px;
}

a:hover {
  	color: #FF0000;
}

a:link {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: #FF0000;
	color: azure;
}

span {
	color:darkorange
}

.navbar, .logo {
	font-weight: bolder;
	font-size: 35px;
	font-family: 'Playfair Display', serif;
	display: flex;
	justify-content: space-between;
	margin-left: 2vh;
	margin-top: 9px;
}

.navbar {
  	background-color: #FF0000;
  	position: fixed; 
	z-index: 3;
	margin: auto; 
  	width: 100%;
	font-size: 30px;
	letter-spacing: 0.5px;
	word-spacing: 10px;
}

.navbar a {
	float: right;
	display: block;
	background-color: #FF0000;
	color: azure;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
  }

.navbar a:hover {
	background: azure;
	color: #FF0000;
}

.epos {
	padding-top: 10vh;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.epos h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.epos p {
	margin-top : 25px
}

.extra {
	text-align: center;
	float: center;
	color: blue;
	font-family: 'Poppins', sans-serif;
}

.extra img {
	width: 30%;
}

.extra p {
	font-size: 12px;
}

.mu {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.mu p {
	margin-top: 25px;
}

.mu h3 {
	margin-bottom: 15px;
}

.sirup {
	padding-top: 10vh;
	text-align: center;
	margin-bottom: 5vh;
	font-family: 'Poppins', sans-serif;
}

.sirup p {
	margin-top: 25px;
}

.rokok {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.rokok h3 {
	margin-bottom: 15px;
}

.rokok p {
	margin-top: 25px;
}

.bottom {
	text-align: center;
	color :azure;
	font-size: 20px;
	padding-top: 20px;
    padding-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}

.bottom p {
	margin-bottom: 10px;
	font-size: 14px;
}

footer {
	background-color: #FF0000;
}

.babi {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.babi h3 {
	margin-bottom: 15px;
}

.babi p {
	margin-top: 15px;
	margin-bottom: 7vh;
}

.social a {
	color: azure;
	margin-left: 3vh;
	margin-right: 3vh;
}


